
Alura/introducao-a-data-science-master/aula1.2/.ipynb_checkpoints/Introdução_a_Data_Science-checkpoint.ipynb
.ipynb_checkpoints/Exemplos_Livro-checkpoint.ipynb
Alura/formacao-data-science-master/.ipynb_checkpoints/Formação Data Science Alura - Análise exploratória do MovieLens-checkpoint.ipynb
Alura/introducao-a-data-science-master/aula0/ml-latest-small/.ipynb_checkpoints/README-checkpoint.txt
